* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
}

body { 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #1e293b; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forgetform {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    background-color: blanchedalmond;
    width: 300px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#sendemail {
    background-color: chartreuse;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#provided {
    text-align: center;
    margin-top: 15px;
}