body{
    background: #1e293b;
}


#loginform{
    cursor:pointer;
    padding: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 250px;
    background-color: chocolate;
    padding:50px;
    color:aliceblue; 
}


#email{
    background-color:bisque;
    margin: 10px 0px;
}

#password{
    background-color:bisque;
    margin: 10px 0px;
}


#message{
    margin-left: 700px;
    margin-right: 700px;
    color:brown;
}


#submitted{
    margin-top: 20px;
    background-color: blue;
    color:white;
}
